.users-container {
  padding-left: var(--content-padding-h);
  padding-right: var(--content-padding-h);
  max-width: var(--content-max-width) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.users-container:last-child {
  margin-bottom: var(--card-bottom-margin);
}

.users-segment {
  margin-top: 15px !important;
  height: var(--segment-header-height) !important;
  display: flex;
}

.users-segment-icon {
  padding-top: 10px;
  padding-right: .5em;
}

.users-input {
  width: 100%;
}

.users-user {
  margin-top: 15px !important;
  min-height: var(--segment-header-height);
}

.users-picture-placeholder {
  text-align: center;
  padding-top: 10px !important;
  opacity: .125;
}

.users-container .ui.items > .item > .content > .description {
  white-space: pre-wrap;
  margin-top: 15px;
}
